@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(13,92,245);
    background: linear-gradient(90deg, rgba(13, 90, 245, 0.37) 0%, rgba(56, 210, 245, 0.466) 35%, rgba(178, 234, 245, 0.644) 100%);
    background: rgba(114, 104, 104, 0.329); 
}
h1{
    text-align: center;
    font-size: 45px;
    text-shadow: 4px 6px 6px rgba(17, 89, 196, 0.637);
   text-transform: uppercase;
   letter-spacing: 5px;
   margin-bottom:3% ;
}
img{
    border-radius: 100%;
    width: 17rem;
    height: 17rem;
    cursor: pointer;
    margin:0 2.5rem;
}
img:hover{
   transition: 0.5s;
    scale: 1.13;
    
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.575); */
}
.images{
   display: flex;
   justify-content: space-around;
 
}
/* .inner{
    display: flex;
    flex-direction: column;
} */
.inner h2{
    margin-top: 5%;
    margin-left: 40%;
}


   
   .drop-in {
    animation: drop-in 1s ease 200ms backwards;
   }
   
  
   
   @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }
   


@media screen and (max-width:778px){
   .images{
    width: 40%;
    align-items: center;
   }
   img{
   
    width: 10rem;
    height: 10rem;
    margin:0;
}
h1{
    font-size: 32px;  
}
.inner h2{
    font-size: 23px;
    margin-top: 2%;
    margin-left: 28%;
}
    }
    
    @media screen and (max-width:300px){
        .images{
            width: 30%;
            align-items: center;
           }
           img{
   
            width: 7rem;
            height: 7rem;
            margin:0;
        }
        h1{
            font-size: 24px;  
        }
        .inner h2{
            font-size: 16px;
            margin-top: 2%;
            margin-left: 25%;
        }
    
      }