@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(13,92,245);
    background: linear-gradient(90deg, rgba(13, 90, 245, 0.37) 0%, rgba(56, 210, 245, 0.466) 35%, rgba(178, 234, 245, 0.644) 100%);
     background: rgba(0, 0, 0, 0.699); 
    
}

form{
    display: flex;
    width: 25rem;
    height: 26rem;
    box-shadow: 0 5px 10px rgba(240, 226, 226, 0.418);
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.733);
    background: rgba(240, 226, 226, 0.89);  
}

form h1{
    text-align: center;
    font-size: 45px;
    text-shadow: 3px 3px 4px rgba(17, 16, 16, 0.788);
   text-transform: uppercase;
   letter-spacing: 5px;
   margin-bottom:5% ;
}

form label{
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(17, 16, 16, 0.637);
    margin-left: 10%;
}
input{
    width: 80%;
    margin: 5% auto;
    margin-top: 0;
    border: none;
    outline: none;
    border-bottom: 2px solid silver;
    font-size: 18px;
    padding: 0.4rem 0;
    background: transparent;
    
}

button{
    width: 50%;
    margin: 5% auto;
    font-size: 20px;
    padding: 10px 28px;
    border: none;
   cursor: pointer;
   background-color: #4f4cfc;
   border-radius: 16px;
   color: antiquewhite;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.658);
}



input[type="button"] {
   
    width: 50%;
    margin: 5% auto;
    font-size: 20px;
    padding: 10px 28px;
    border: none;
   cursor: pointer;
   background-color: #38383f;
   border-radius: 16px;
   color: rgba(250, 235, 215, 0.966);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.658);
}

input[type="button"]:hover {
   
   box-shadow: 0 5px 10px rgba(44, 48, 53, 0.808);
   scale: 1.03;
   transition: 0.6s;
}
#valid{
    font-size: 18px;
    color: rgba(255, 0, 0, 0.774);
   text-align: center;
 
}



.box {
  position: relative;
  display: block;
  background: rgb(128, 120, 120);
}

.glowing::before{
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #f7f44d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
  background-size: 400%;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  z-index: -1;
  animation: glower 20s linear infinite;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


@media screen and (max-width:778px){
form{
  width: 15rem;
  height: 20rem;
}
form h1{
  font-size: 35px;
}
label{
  font-size: 16px;
}
input{
  font-size: 16px;
}
input[type="button"] {
  font-size: 17px;
  padding: 8px 24px;
 
}
}

@media screen and (max-width:300px){
  form{
    width: 11rem;
    height: 15rem;
  }
  form h1{
    font-size: 28px;
  }
  form label{
    font-size: 16px;
  }
  input{
    font-size: 12px;
  }
  

  }

